@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --surface: #f3edf7;
    --surface-foreground: #1d1b20;
    --surface-high: #ece6f0;
    --surface-highest: #e6e0e9;
    --surface-low: #f7f2fa;
    --surface-lowest: #fff;

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);

    --primary: rgb(28 100 242);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --radius: 0.5rem;
  }

  .dark {
    --background: #141218;
    --foreground: hsl(210 40% 98%);

    --surface: #211f26;
    --surface-foreground: #e6e0e9;
    --surface-high: #2b2930;
    --surface-highest: #36343b;
    --surface-low: #1d1b20;
    --surface-lowest: #0f0d13;

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);

    --primary: rgb(28 100 242);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 85.7% 97.3%);

    --ring: hsl(217.2 32.6% 17.5%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  /*body {*/
  /*  @apply bg-background text-foreground;*/
  /*}*/
}
