@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply min-w-0;
  }

  .full-height {
    height: calc(100vh - 4.5rem);
  }
  .double-header-height {
    height: calc(100vh - 9rem);
  }

  .my-indicator {
    display: none;
  }

  .htmx-request .my-indicator {
    display: inline;
  }

  .htmx-request.my-indicator {
    display: inline;
  }

  .progress-bar {
    /*border-radius: var(--rounded-box);*/
    height: 0.5rem;
    width: 100%;
    /*@apply bg-gray-200;*/
    background-color: oklch(var(--bc) / 0.2);
  }
  .progress-bar::after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
    background-color: oklch(var(--p));
    animation: progress 20s ease-in-out;
    /*border-radius: var(--rounded-box)*/
  }

  /*body {*/
  /*  @apply bg-background text-foreground;*/
  /*}*/
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100%);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100%);
  }
}

::view-transition-old(slide-it) {
  animation:
    600ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(slide-it) {
  animation:
    420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.simple-view-transition {
  view-transition-name: slide-it;
}

.animate-fade-rotate-in {
  animation: fade-rotate-in 0.5s ease-in-out both;
}

@keyframes fade-rotate-in {
  0% {
    opacity: 0;
    transform: rotate(-90deg);
    scale: 0.5;
  }
  80% {
    scale: 1.2;
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
    scale: 1;
  }
}

.animate-pop {
  animation: pop 0.2s ease-in-out both;
}

.replace-transition {
  view-transition-name: replace;
}
::view-transition-old(replace) {
  animation: 0.2s ease-in-out both fade-out;
}

::view-transition-new(replace) {
  animation: 0.2s ease-in-out both fade-in;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}
